<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <h2><a class="nav-item nav-link" routerLink="/"> Home </a><br></h2>
        <h2><a class="nav-item nav-link" routerLink="/login"> Login </a><br></h2>
        <h2><a class="nav-item nav-link" routerLink="/signup"> Sign Up </a></h2>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>